<!DOCTYPE html>
<html>
  <head>
    <title>ReFormer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(Enumerable) %>
        <% msg.each do |m| %>
          <%= content_tag :div, m, class: name %>
        <% end %>
      <% else %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
